body {
    background: linear-gradient(to bottom right, firebrick, black);
    color: darkgrey;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    height: 100%;
}
#show {
    font-family: copperplate;
    font-size: 250%;
}
#current {
    font-family: 'Raleway', sans-serif;
}
#episode {
    font-family: 'Lobster', cursive;
}
#Ripper {
    font-family: 'Lobster', cursive;
}
a:link {
    color: indianred;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: indianred;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: dimgrey;
    background-color: transparent;
}

a:active {
    color: aliceblue;
    background-color: transparent;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    width: 20%;
}
th, td {
    padding: 15px;
}
table {
    border-spacing: 5px;
}
table tr:nth-child(even) {
    background-color: #eee;
    color: #444444;
}
table tr:nth-child(odd) {
    background-color: #fff;
    color: #444444;
}
table th {
    color: white;
    background-color: dimgrey;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #121212;
}

#giles_button {
    border-radius: 25px;
    background-color: white;
    color: black;
    font-family: 'Raleway', sans-serif;
}

#spike_button {
    border-radius: 25px;
    background-color: white;
    color: black;
    font-family: 'Raleway', sans-serif;
}

header {
  padding: 1em;
  color: darkgrey;
  background: transparent;
  clear: left;
  text-align: center;
}

#nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #111;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #333;
  text-decoration: none;
}

.active {
  background-color: #333;
  text-decoration: none;
}
